* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet {
  container-type: size;
  width: 15vw;
  height: 42.5vw;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabinet-body {
  height: 100cqh;
  width: 100cqw;
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.face {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, sans-serif;
}

.cabinet-body {
  .front {
    background-color: lightgray;
  }
  .left, .right {
    background-color: rgb(190, 190, 190);
  }
  .top {
    background-color: rgb(200, 200, 200);
  }

  .top,
  .side {
    border-radius: 2cqw;
  }

  .top {
    height: 100cqw;
    width: 100cqw;
  }

  .side {
    height: 100cqh;
    width: 100cqw;
  }

  .front {
    transform: translateZ(49.5cqw);
  }

  .left {
    transform: translateX(-49.5cqw) rotateY(-90deg);
  }

  .right {
    transform: translateX(49.5cqw) rotateY(90deg);
  }

  .top {
    transform: translateY(-50cqh) rotateX(90deg);
  }
}

.cabinet-drawer {
  height: 29.4%;
  width: 83.33%;
  position: relative;
  container-type: size;
  transform-style: preserve-3d;
  transform: translateZ(10cqw);
  transition: transform 0.5s ease-in-out;

  .side {
    background-color: rgb(75, 75, 75);
  }

  .front {
    background-color: rgb(195, 198, 200);
    transform-style: preserve-3d;
  }

  .left,
  .right{
    width: 100cqw;
    height: 80cqh;
  }

  .left::after,
  .right::after {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    border-top: solid 5cqw rgb(60, 60, 60);
    border-bottom: solid 2.5cqw rgb(90, 90, 90);
  }

  .bottom {
    width: 100cqw;
    height: 100cqh;
  }

  .front {
    width: 100cqw;
    height: 100cqh;
  }

  .front:hover {
    cursor: pointer;
  }

  .front {
    transform: translateZ(50.5cqw);
  }

  .left {
    transform: translateX(-49.5cqw) translateY(20cqh) rotateY(-90deg);
  }

  .right {
    transform: translateX(49.5cqw) translateY(20cqh) rotateY(90deg);
  }

  .bottom {
    transform: translateY(50cqh) rotateX(-90deg);
  }
}

.shadow {
  height: 29.4%;
  width: 83.33%;
  background-color: black;
  transition: background-color 0.1s ease;
}

.name-tag {
  height: 30%;
  width: 70%;
  background-color: white;
  border: solid 2px gray;
  border-radius: 1cqw;
  transition: transform 0.25s ease;
  font-size: 11cqw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  transform: translateZ(83cqw);
}

.closed > .front:hover > .name-tag {
  transform: scale(2.5) translateZ(20cqw);
}

.handle {
  width: 50%;
  height: 10%;
  background: linear-gradient(to right, 
  #5a5a5a,
  #9c9c9c,
  #d9d9d9 20%,
  #d9d9d9 80%,
  #9c9c9c,
  #5a5a5a
);
  border: solid 1px black;
  transform: translateZ(7.5cqw);
  box-shadow: 
  0 3cqw 3cqw rgba(0, 0, 0, 0.5),
  inset 0 1cqw 2cqw white;
}

.folder {
  position: absolute;
  container-type: size;
  transform-style: preserve-3d;
  width: 98cqw;
  height: 66cqh;
  background-color: rgb(255, 254, 237);
  /* transform: translateX(1cqw) translateZ(15cqw); */
}

.cabinet-drawer .folder.one {
  transform: translateX(1cqw) translateY(10cqh) translateZ(-18cqw);
}

.cabinet-drawer .folder.two {
  transform: translateX(1cqw) translateY(10cqh);
}

.cabinet-drawer .folder.three {
  transform: translateX(1cqw) translateY(10cqh) translateZ(18cqw);
}

.cabinet-drawer .folder.four {
  transform: translateX(1cqw) translateY(10cqh) translateZ(36cqw);
}

.folder-front, .folder-back {
  position: absolute;
  transform-origin: bottom center;
  height: 100%;
  width: 100%;
}

.folder-front {
  background-color: rgb(250, 235, 140);
  transform: rotateX(-4deg);
}

.folder-back {
  background-color: rgb(245, 230, 135);
  transform: rotateX(4deg);
}